<header>
    <div class="section section-navbar-1 section-navbar-2 bg-white hidden-tablet-landscape" id="js-navbar-fixed">
        <div class="container heading">
            <div class="block-left">
                <div class="logo">
                    <a href="index.html">
                        <img src="../../../assets/_images/logo.png" alt="Consulting">
                    </a>
                </div>
            </div>
            <div class="block-right nav_menu">
                <nav>
                    <div class="au-navbar navbar-1 navbar-2">
                        <ul class="au-navbar-menu">
                            
                            <li>
                                <a routerLink="/">Home</a>
                            </li>
                         <!--    <li class="drop">
                                <a href="#">Services</a>
                                <ul class="drop-menu bottom-right">
                                    <li class="drop">
                                        <a href="#">Services List</a>
                                        <ul class="drop-menu top-right">
                                            <li>
                                                <a href="services-v1.html">Services List v1</a>
                                            </li>
                                            <li>
                                                <a href="services-v2.html">Services List v2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="drop">
                                        <a href="#">Services Details</a>
                                        <ul class="drop-menu top-right">
                                            <li>
                                                <a href="service-v1.html">Services Details v1</a>
                                            </li>
                                            <li>
                                                <a href="service-v2.html">Services Details v2</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li> -->
                            <li>
                                <a routerLink="/personal">Personal Banking</a>
                            </li>
                            <li>
                                <a routerLink="/corporate">Corporate Banking</a>
                            </li>
                            <li>
                                <a routerLink="/private">Private Banking</a>
                            </li>
                            <li>
                                <a routerLink="/e-banking">e-Banking</a>
                            </li>
                            <li class="account">
                                <a routerLink="/e-banking"><span class="open_account">Open Account</span></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="hidden-tablet-landscape-up">
        <div class="header header-mobile-1">
            <div class="top-header">
                <div class="container-fluid">
                    <div class="logo">
                        <a href="index.html">
                            <img src="../../../assets/_images/logo.png" alt="Consulting" />
                        </a>
                    </div>
                    <div class="search-widget search-widget-1">
                        <div class="icon-search">
                            <i class="icon_search"></i>
                        </div>
                        <input class="animated" type="text" placeholder="Search" />
                    </div>
                    <button class="hamburger hamburger--spin hidden-tablet-landscape-up" id="toggle-icon">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="au-navbar-mobile navbar-mobile-1">
                <ul class="au-navbar-menu">
                    <li>
                        <a routerLink="/">Home</a>
                    </li>
                 <!--    <li class="drop">
                        <a href="#">Services</a>
                        <ul class="drop-menu bottom-right">
                            <li class="drop">
                                <a href="#">Services List</a>
                                <ul class="drop-menu top-right">
                                    <li>
                                        <a href="services-v1.html">Services List v1</a>
                                    </li>
                                    <li>
                                        <a href="services-v2.html">Services List v2</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#">Services Details</a>
                                <ul class="drop-menu top-right">
                                    <li>
                                        <a href="service-v1.html">Services Details v1</a>
                                    </li>
                                    <li>
                                        <a href="service-v2.html">Services Details v2</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li> -->
                    <li>
                        <a routerLink="/personal">Personal Banking</a>
                    </li>
                    <li>
                        <a routerLink="/corporate">Corporate Banking</a>
                    </li>
                    <li>
                        <a routerLink="/private">Private Banking</a>
                    </li>
                    <li>
                        <a routerLink="/e-banking">e-Banking</a>
                    </li>
                    <li class="account">
                        <a routerLink="/e-banking">Open Account</a>
                    </li>
                </ul>
            </div>
           
        </div>
    </div>
    <!-- Header / End-->
</header>
<section>
    <!-- START REVOLUTION SLIDER 5.0-->
    <!-- Carousel wrapper -->
    <div id="carouselBasicExample" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carouselBasicExample" data-slide-to="0" class="active"></li>
            <li data-target="#carouselBasicExample" data-slide-to="1"></li>
            <li data-target="#carouselBasicExample" data-slide-to="2"></li>
        </ol>

        <!-- Inner -->
        <div class="carousel-inner">
            <!-- Single item -->
            <div class="carousel-item active">
                <img src="../../../assets/_images/slider1.jpg" class="d-block w-100" alt="..." />
               <!--  <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div> -->
            </div>

            <!-- Single item -->
              <div class="carousel-item">
                <img src="../../../assets/_images/online_account.jpg" class="d-block w-100" alt="..." />
                <!-- <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div> -->
            </div>

            <!-- Single item -->
            <!-- <div class="carousel-item">
                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(23).jpg" class="d-block w-100" alt="..." />
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div> -->
        </div>
    </div>
    <!-- Carousel wrapper -->
</section>

<!-- FINANCIAL MANAGEMENT / start-->
<section class="section bg-white p-t-70 p-b-70">
    <div class="container">
        <div class="p-b-15">
            <div class="heading-section heading-section-2 dark">
                <h3>Innovative Products and Services to make
                    your banking life easy</h3>
            </div>
        </div>
        
    </div>
</section>
<!-- FINANCIAL MANAGEMENT / end-->

    <!-- page content / start-->
    <div class="page-content p-b-50">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <table class="table table-bordered table-striped">
                    <thead class="rate-heading">
                        <tr>
                        <th scope="col"><h2>Currency</h2></th>
                        <th scope="col"><h2>Exchange Rate</h2></th>
                        <th scope="col"><h2>Date</h2></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rate of rates">
                        <th scope="row"><p class="table_value">{{rate.pair}}</p></th>
                        <td><p class="table_value">{{rate.rate}}</p></td>
                        <td><p class="table_value">{{rate.date}}</p></td>
                        </tr>
                    </tbody>
                    </table>


                <!--   <section class="section post-section-1 p-r-15">
                    <div class="post-image owl-carousel dark nav-style-3 dots-style-1" data-carousel-nav="true" data-carousel-dots="true" data-carousel-loop="true" data-carousel-items="1" data-carousel-sm="1" data-carousel-xs="1" data-carousel-lg="1" data-carousel-md="1"
                    data-carousel-autoplay="true">
                        <img class="img-responsive" src="../../../assets/_images/goal.png" alt="Post Image">
                        <img class="img-responsive" src="../../../assets/_images/treasury.jpg" alt="Post Image">
                    </div>
                </section> -->
            </div>
            <div class="col-md-4">
                <div class="banner-contact m-b-50">
                    <a class="au-btn au-btn-border au-btn-border-light au-btn-block" routerLink="contact">Financial Statements</a>
                    <a class="au-btn au-btn-border au-btn-border-light au-btn-block" routerLink="contact">Our Rate</a>
                    <a class="au-btn au-btn-border au-btn-border-light au-btn-block" routerLink="contact">Tariff Guide</a>
                    <a class="au-btn au-btn-border au-btn-border-light au-btn-block" routerLink="contact">Our Branch</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page content / end-->

<!-- HOW WE WORK WITH YOUR / start-->
<div class="section section-split bg-green">
    <div class="section-split-left bg-cover matchHeigh" style="background: url(../../../assets/_images/product2.jpg
    ) center center no-repeat;"></div>
    <div class="section-split-right matchHeigh">
        <div class="we-work-section">
            <!-- <div class="heading-section heading-section-1 light">
                <h3>HOW WE WORK WITH YOUR</h3>
            </div> -->
            <div class="accordion-box accordion-box-1 accordion-box-2" data-accordion-group>
                <div class="accordion open m-b-5" data-accordion>
                    <div class="accordion-title" data-control>
                        <p>Personal Investment Plus</p>
                    </div>
                    <div class="accordion-content animated" data-content>
                        <div class="content-inner bg-green">
                            <p>At Fidelity Treasury, we aim at providing value-added services to existing and potential corporate, and retail clientele in various sectors of the Ghanaian economy.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion m-b-5" data-accordion>
                    <div class="accordion-title" data-control>
                        <p>Corporate Banking</p>
                    </div>
                    <div class="accordion-content animated" data-content>
                        <div class="content-inner">
                            <p>At Fidelity Treasury, we aim at providing value-added services to existing and potential corporate, and retail clientele in various sectors of the Ghanaian economy.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion m-b-5" data-accordion>
                    <div class="accordion-title" data-control>
                        <p>Electronic Banking</p>
                    </div>
                    <div class="accordion-content animated" data-content>
                        <div class="content-inner">
                            <p>Fidelity Treasure is a pioneer in the provision of ATM services with the current formation of Electronic Banking to leverage on the Bank’s state-of-the-art IT infrastructure to create convenience for our clients and enable them to become more efficient and profitable.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion m-b-5" data-accordion>
                    <div class="accordion-title" data-control>
                        <p>Treasury Management</p>
                    </div>
                    <div class="accordion-content animated" data-content>
                        <div class="content-inner">
                            <p>At Fidelity Treasury, we aim at providing value-added services to existing and potential corporate, and retail clientele in various sectors of the economy.

                                Our mission is to become the reference point for Treasury Services within the local and global market.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- HOW WE WORK WITH YOUR / end-->

    <!-- icon box / start-->
    <div class="section bg-white p-t-70 p-b-40">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="icon-box icon-box-6">
                        <div class="icon">
                            <a>
                                <img src="../../../assets/images/icons/ic-services-01.png" alt="Business Services Consulting" />
                            </a>
                        </div>
                        <h3 class="title">
                            <a>Business Services Support</a>
                        </h3>
                       <!--  <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae rutrum sem. Mauris convallis non elit non scelerisque.</p> -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="icon-box icon-box-6">
                        <div class="icon">
                            <a >
                                <img src="../../../assets/images/icons/ic-services-02.png" alt="Industrial Goods &amp; Services" />
                            </a>
                        </div>
                        <h3 class="title">
                            <a >Industrial Goods &amp; Services</a>
                        </h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="icon-box icon-box-6">
                        <div class="icon">
                            <a >
                                <img src="../../../assets/images/icons/ic-services-03.png" alt="Performance Improvement" />
                            </a>
                        </div>
                        <h3 class="title">
                            <a>Performance Improvement</a>
                        </h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="icon-box icon-box-6">
                        <div class="icon">
                            <a >
                                <img src="../../../assets/images/icons/ic-services-04.png" alt="Customer Strategy &amp; Marketing" />
                            </a>
                        </div>
                        <h3 class="title">
                            <a >Customer Strategy &amp; Marketing</a>
                        </h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="icon-box icon-box-6">
                        <div class="icon">
                            <a >
                                <img src="../../../assets/images/icons/ic-services-05.png" alt="Financial Services Consulting" />
                            </a>
                        </div>
                        <h3 class="title">
                            <a >Financial Services Support</a>
                        </h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="icon-box icon-box-6">
                        <div class="icon">
                            <a >
                                <img src="../../../assets/images/icons/ic-services-06.png" alt="Infomation Technology Consulting" />
                            </a>
                        </div>
                        <h3 class="title">
                            <a>Infomation Technology Support</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- iconbox / end-->

      <!-- Carousel wrapper -->
    <div id="carouselBasicExample" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Inner -->
        <div class="carousel-inner before-footer">
            <!-- Single item -->
            <div class="carousel-item active">
                <img src="../../../assets/_images/hand.jpg" class="d-block w-100" alt="..." />
                <div class="carousel-caption1 d-md-block">
                    <div class="heading-section gb-section heading-section-2">
                        <h3>Banking @ your fingertips anytime, anywhere</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel wrapper -->

    
<footer id="footer">
    <!-- Footer / start-->
    <div class="footer footer-1 bg-black">
        <!-- <div class="top-footer p-t-50 p-b-50">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-block-1">
                            <div class="logo">
                                <img src="../../../assets/_images/logo.png" width="150" alt="Consulting" />
                            </div>
                            <div class="quick-link">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <ul>
                                            <li>
                                                <a href="#">Business Consulting</a>
                                            </li>
                                            <li>
                                                <a href="#">Investments Management</a>
                                            </li>
                                            <li>
                                                <a href="#">Taxes Planning</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <ul>
                                            <li>
                                                <a href="#">Insurance Consulting</a>
                                            </li>
                                            <li>
                                                <a href="#">Retirement Strategies</a>
                                            </li>
                                            <li>
                                                <a href="#">Business Loan</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-block-2">
                            <div class="title">
                                <h3>Contact us</h3>
                            </div>
                            <div class="contact-list">
                                <ul>
                                    <li>Address: 8th floor, 379 Hudson St, New York, NY 10018</li>
                                    <li>Phone: (+1) 96 716 6879</li>
                                    <li>Email: contact@site.com</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-block-3">
                            <div class="title">
                                <h3>Follow us</h3>
                            </div>
                            <div class="social-list">
                                <ul class="horizontal-list">
                                    <li class="social-item-2 social-item-1">
                                        <a class="fa fa-facebook"></a>
                                    </li>
                                    <li class="social-item-2 social-item-1">
                                        <a class="fa fa-twitter"></a>
                                    </li>
                                    <li class="social-item-2 social-item-1">
                                        <a class="fa fa-google-plus"></a>
                                    </li>
                                    <li class="social-item-2 social-item-1">
                                        <a class="fa fa-linkedin"></a>
                                    </li>
                                    <li class="social-item-2 social-item-1">
                                        <a class="fa fa-instagram"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="bot-footer">
            <div class="container">
                <div class="block-inner p-t-35 p-b-60">
                    <div class="block-left">
                        <span>© 2020 Fidelity Treasure Bank. All rights reserved.</span>
                    </div>
                    <div class="block-right">
                        <div class="quick-link">
                            <ul>
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Term & Conditions</a>
                                </li>
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#">Sites Map</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer / end-->
</footer>
<div id="up-to-top">
    <i class="fa fa-angle-up"></i>
</div>