/* You can add global styles to this file, and also import other style files */

.header-mobile-1 .top-header .logo {
    margin-top: 0 !important;
}

.container .heading {
    display: flex !important;
    justify-content: space-between !important;
}

.block-right .nav_menu {
    display: flex !important;
    align-items: center !important;
}

.section-navbar-2 .logo {
    padding-top: 0 !important;
}